@media screen and (min-width: 75em) {
  nav {
    display: flex;
    justify-content:space-between; 
    width: 80%;
    padding: 20px 0;
    margin:0 auto;
    background-color: var(--main-grey-color);
    border-bottom: 1px solid var(--main-font-color);
  }
  
  .left-navigation {
    display: flex;
    justify-content: flex start;
    width: 80%;
  }
  
  .left-navigation li {
    padding-right: 20%;
  }
  
  .right-navigation {
    display: flex;
    justify-content: flex-end;
  }
  
  .right-navigation li {
    padding-left: 60%;
  }

  .main-container {
    display: flex;
    justify-content: space-between;
  }

  .main-hello {
    width: 70%;
    flex-shrink: 1;
  }

  .main-image {
    width: 30%;
  }

  h1 {
    padding-top: 0.8em;
    line-height: 1.2em;
  }
  
  .main-description {
    color: var(--secondary-font-color);
    font-size: 1.2em;
    padding-top: 1em;
    line-height: 1.5em;
    width: 75%;
  }

  .oval-1, .oval-2, .oval-3, .oval-4, .oval-5  {
    position: absolute;
    left: -12rem;
    width: 35em;
    height: 7em;
    border: 2px solid var(--secondary-grey-color);
    border-radius:50%;
    z-index: -1;
  }

  .oval-1 {
    top: 8rem;
  }

  .oval-2 {
    top:8.8rem;
  }

  .oval-3 {
    top: 9.6rem;
  }

  .oval-4 {
    top: 10.4rem;
  }

  .oval-5 {
    top: 11.2em;
  }

  .technologies-container {
    display: flex;
    flex-wrap: wrap;
  }

  .technologies-article {
    width: 33.3%;
    margin-top: 5em;
  }

  .technologies-article p {
    margin-top: 1.3em;
  }
  
  

}

