@media screen and (min-width: 64em) {
  nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 20px 0;
    margin: 0 auto;
    background-color: var(--main-grey-color);
    border-bottom: 1px solid var(--main-font-color);
  }

  .left-navigation {
    display: flex;
    justify-content: flex start;
    width: 80%;
  }

  .left-navigation li {
    padding-right: 20%;
  }

  .right-navigation {
    display: flex;
    justify-content: flex-end;
  }

  .right-navigation li {
    padding-left: 60%;
  }

  .main-container {
    display: flex;
    justify-content: space-between;
  }

  .main-hello {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
  }

  .main-image {
    width: 30%;
  }

  h1 {
    line-height: 1.2em;
  }

  .main-description {
    color: var(--secondary-font-color);
    font-size: 1.2em;
    padding-top: 1em;
    line-height: 1.5em;
    width: 75%;
  }

  .oval-1,
  .oval-2,
  .oval-3,
  .oval-4,
  .oval-5 {
    position: absolute;
    width: 35em;
    left: -16em;
    height: 7em;
    border: 2px solid var(--secondary-grey-color);
    border-radius: 50%;
    z-index: -1;
  }

  .oval-1 {
    top: 8em;
  }

  .oval-2 {
    top: 8.8em;
  }

  .oval-3 {
    top: 9.6em;
  }

  .oval-4 {
    top: 10.4em;
  }

  .oval-5 {
    top: 11.2em;
  }

  .technologies-container {
    display: flex;
    flex-wrap: wrap;
  }

  .technologies-article {
    width: 33.3%;
    margin-top: 5em;
  }

  .technologies-article p {
    margin-top: 1.3em;
  }

  .contact-me-header {
    padding: 1em 0 0.5em;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    border-bottom: 1px solid var(--main-font-color);
    margin: 0 auto;
  }

  .footer-left,
  .footer-right {
    width: 50%;
  }

  .contact-me-message {
    line-height: 1.5rem;
    width: 80%;
    font-size: 1em;
    padding: 4em 0;
  }

  .contact-form-container {
    padding: 7em 0 2em 8em;
  }

  .name,
  .email,
  .message {
    display: block;
    color: var(--main-font-color);
    font-size: 1em;
    padding-top: 1.7em;
  }

  .name-input,
  .email-input,
  .message-textarea {
    display: block;
    width: 100%;
    background-color: var(--secondary-grey-color);
    color: var(--main-green-color);
    border-style: hidden;
    border-color: var(--secondary-font-color);
    padding: 1.5em 0;
    font-family: var(--main-font);
  }

  .name-input,
  .email-input {
    border-bottom-style: solid;
  }

  .name-input:focus,
  .email-input:focus,
  .message-textarea:focus {
    outline: none;
  }

  .name:hover::after,
  .email:hover:after {
    content: ' *mandatory field';
    font-size: .8em;
    color: red;
  }

  hr {
    height: 0.148em;
    background-color: var(--secondary-font-color);
  }

  .send-message-button {
    outline: none;
    background-color: var(--main-font-color);
    color: var(--main-grey-color);
    border-style: hidden;
    padding: 1em 1em;
    margin: 0.5em 0;
    border-radius: 7px;
    /* text-transform: uppercase;
    text-decoration: underline; */
    font-size: 1em;
  }

  .send-message-button:hover{
    background-color: var(--main-green-color);
    color: var(--main-font-color);
  }

  .footer-info {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 2em 0;
    color: var(--secondary-font-color);
    font-size: 0.7em;
    z-index: 8;
  }
}
